@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
.star {
  transform-style: preserve-3d;
  width: 1px;
  height: 1px;
  position: absolute;
  color: red;
  pointer-events: none;
}

.star:before {
  position: absolute;
  content: "✦";
  color: inherit;
  inset: 0;
  text-shadow: 0 0 1em #fff5;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: #F9F6EF;
  display: grid;
  place-content: center;
  background-image: radial-gradient(circle at 50% 50%, #2f3040, #1f2020);
}

.chooser {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.chooser label {
  text-align: center;
  transition: 0.4s ease;
  border: 1px solid #AEE1CD20;
  padding: 0.5em 1em;
  cursor: pointer;
}
.chooser label:hover {
  color: #D1CDDA;
  box-shadow: inset 1px 1px #F9F6EF40;
  background-color: #1f202050;
}
.chooser label:active {
  box-shadow: inset -1px -1px #F9F6EF40;
}
.chooser input[type=radio] {
  display: none;
}
.chooser input[type=radio]:checked + label {
  color: #FFE682;
  border: 1px solid #AEE1CD90;
}

body1{
  padding:0 0 10px;
  align-items:center center !important;
  align-content: center center !important;
  margin:10px;
}